.main_box{
    position: absolute;
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: "900px";
    height: "450px";
    background-color: "background.paper";
    box-shadow: "24px";
    border-radius: "3px";
    padding: "4px";
    
}
.parent_box{
    display: flex;
    justify-content:space-around;
}
.parent_box_box{
    width: "60%";
}
.right_box{
    width: "40%";
    box-shadow: "rgba(0, 0, 0, 0.24) 0px 3px 8px";
}