.App{
    font-family: 'Montserrat';
    font-weight: 'bolder';
}

/* For Underline */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* For Carousel Arrows */
.owl-theme{
  /* border:"2px solid blue"; */
  margin-top:20px;
}
.owl-carousel{
  position: relative;
}
.owl-nav{
  height: 45px;
  background:#ebebeb;
}
.prev{
  font-size: 90px;
  position: absolute;
  left:0;
  top:250px;
  color:crimson
}
.next{
  font-size: 90px;
  position: absolute;
  top:250px;
  right:0;
  color:crimson
}
.prev:hover {
  color:red;
}
.next:hover{
  color:red;
}
.owl-dots{
  position: absolute;
  margin-top: -32px;
  margin-left: 60px;
  /* color: #9c9c9c; */
}

